//This is a one line comment
/* This is a multi line comment */
//We will chose body background color
body {
  background-color:#ff0000;
  text-color:#ffffff;
  text-size:20;
  text-style: comic-sans;
}
